html {
  height: 100%;
}

body {
  background-image: linear-gradient(
    to top,
    #d5dee7 0%,
    #ffafbd 0%,
    #c9ffbf 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: #ffafbd;
}

.App-header {
  font-size: 50px;
  font-family: "Abril Fatface", cursive;
  padding: 20px 0px 10px 0px;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

.App-footer {
  color: seashell;
  text-decoration: none;
}
