.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 12px 8px;
  color: #333;
  border: 1px solid #ddd;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}

.Dictionary .hint {
  font-size: 12px;
  margin-top: 10px;
}
