.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 0px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #fab5bd;
  color: white;
  border-color: #fab5bd;
}

.Phonetic .text {
  opacity: 0.7;
  font-weight: bold;
}
